.header{
    background-color: rgb(166, 164, 164);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav{
    width: 80%;
    display: flex;
    justify-content:space-around;
}

.buttons{
    height: 29px;
    width: 65px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid black;
}
body, html{
    padding: 0;
    margin: 0;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

#content{
    flex: 1;
}