.mainSec{
    border: 2px solid black;
    width: 80%;
    margin-top: 19px;
    background-color: whitesmoke;
    border-radius: 20px 20px 10px 10px;
}

.conHeader{
    background-color: rgba(195, 148, 142, 0.577);
    text-align: center;
    font-size: 26px;
}

.bottom{
    display: flex;
    margin: 10px;
}

img{
    min-width: 250px;
    min-height: 250px;
    border: 2px solid black;
    margin-right: 15px;
}
.drinkImg{
    min-width: 120px;
    min-height: 120px;
}
.bottomMenu{
    margin-bottom: 13px;
    display: flex;
    justify-content: center;
}

.aboutPara::first-line{
    font-size: 18px;
    font-weight: 600;
}